<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand" ng-click="onClickBrand()">{{ brand }}</a>
    </div>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="menu in menus" ng-class="{ active: menu.id == activeMenuId } ">
          <a href="#" id="menu-{{ menu.id }}" ng-click="onChangeMenu($index)">{{ menu.title }}</a>
        </li>
      </ul>
    </nav>
  </div>
</nav>
