@import "config.less";

.navbar-inverse {
    background-color: rgb(225, 226, 228);

    .navbar-nav>.active>a,
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: @main-blue;
        background-color: rgb(241, 243, 245);
    }

    .navbar-nav>li>a {
        color: @main-blue;
        background-color: rgb(49, 58, 69);
        padding: 15px 30px;
        font-size: 18px;
    }
    border: 0;

    .navbar-brand {
        color: rgb(49, 58, 69);
    }
}
