@import "config.less";

.perfetch-panel.panel {
    border-radius: 0;
    .panel-heading {
        background-color: white;
        border: 0;
    }

    .panel-title {
        font-size: 20px;
    }
}

@goal-border-color: rgb(251, 211, 188);
@goal-title-color: rgb(255, 112, 0);

.perfetch-panel.panel.panel-goal {
    border-color: @goal-border-color;

    .panel-title {
        color: @goal-title-color;
    }
}


@trend-border-color: rgb(131, 224, 213);
@trend-title-color: rgb(0, 195, 168);

.perfetch-panel.panel.panel-trend {
    border-color: @trend-border-color;

    .panel-title {
        color: @trend-title-color;
    }
}