body {
    padding-top: 50px;
}

.popover.perfetch-top .arrow {
    border-top-width: 50px;
    bottom: -51px;
}

.popover.perfetch-top .arrow:after {
    border-top-width: 50px;
}

.popover.perfetch-right .arrow {
    border-right-width: 50px;
    left: -51px;
}

.popover.perfetch-right .arrow:after {
    border-right-width: 50px;
}


.popover.perfetch-left .arrow {
    border-left-width: 50px;
    right: -51px;
}

.popover.perfetch-left .arrow:after {
    border-left-width: 50px;
}

.popover.perfetch-bottom .arrow {
    border-bottom-width: 50px;
    top: -51px;
}

.popover.perfetch-bottom .arrow:after {
    border-bottom-width: 50px;
}


/* dview animation */
.dview-animate.ng-hide-remove {
    -webkit-transition: 0.5s linear all; /* Chrome */
    transition: 0.5s linear all;
    opacity: 0;
}

.dview-animate.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.dview-animate.ng-hide {
    display:block!important;
    opacity: 0;
}