<div ng-controller="AppCtrl">
  <linetip ng-repeat="tip in linetips" seg1-len="tip.seg1Len" seg1-angle="tip.angle" seg2-len="tip.seg2Len"
           direction="tip.direction" pos="tip.position">
    <div class="body-change right" ng-if="tip.direction == 'top-right'">
      <div class="value-change">
        <span class="new-value">{{tip.value}}</span>
        <span class="glyphicon glyphicon-arrow-left" ></span>
        <span class="old-value">{{tip.oldValue}}</span>
      </div>
      <div class="title">{{tip.titleText}}</div>
    </div>

    <div class="body-change left" ng-if="tip.direction == 'top-left'">
      <div class="value-change">
        <span class="old-value">{{tip.oldValue}}</span>
        <span class="glyphicon glyphicon-arrow-right" ></span>
        <span class="new-value">{{tip.value}}</span>
      </div>
      <div class="title">{{tip.titleText}}</div>
    </div>
  </linetip>

  <div class="row" id="#content">
    <!-- left -->
    <div class="col-md-8">
      <button style="position: absolute; left: 50%; bottom: 10px;">Left</button>
      <button style="position: absolute; left: 50%; bottom: 10px;">Reset</button>
      <button style="position: absolute; left: 50%; bottom: 10px;">Right</button>
      <div id="canvas-container" perfetch-viewer model="{{ modelUrl }}" ng-if="!config.debug">
      </div>
    </div>

    <!-- right -->
    <div class="col-md-4">
      <div class="panel panel-default perfetch-panel panel-goal">
        <div class="panel-heading">
          <h3 class="panel-title">Goal Achieved</h3>
        </div>
        <div class="panel-body">
          <div class="goal-progress">
            <div class="row">
              <div class="col-md-9">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;"></div>
                </div>
              </div>
              <span class="progress-info">{{ progress }}%</span>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default perfetch-panel panel-trend">
        <div class="panel-heading">
          <h3 class="panel-title">Advice</h3>
        </div>
        <div class="panel-body">
          <div ng-repeat="advice in advices">{{ advice }}</div>
        </div>
      </div>

      <div class="panel panel-default perfetch-panel panel-trend">
        <div class="panel-heading">
          <h3 class="panel-title">Trend</h3>
        </div>
        <div class="panel-body">
          <ui-chart data="chartData" options="chartOptions" height="200" />
        </div>
      </div>

    </div>
  </div>
</div>
